@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-5">Switches</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Api Should Throw Exception</h3>
                        <p>@(Switches.ApiShouldThrowException ? "Yes" : "No")</p>
                        @using(Html.BeginForm("Toggle", "Home", FormMethod.Post)) {
                            <button type="submit">Toggle On/Off</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>